<!-- <h3 style="text-align: center;">Info about builds</h3> -->

<h4 style="text-align: center;">Application: <b><span style="color: blue;text-decoration: underline;"><a  href="#ApplicationsView">{{application}}</a></span></b></h4>
<h4 style="text-align: center;">Environment: <b>{{env}}</b></h4>
 
<h4><label style="text-align: center; text-decoration: underline; color: blue;">Environment Information</label></h4>
 
<table  class="table" style="margin-top: 0%;margin-bottom: 2%">
	<thead>
    	<tr>
	        <th>Application</th>
	        <th>Environment</th>	
			<th>Used for Release</th>				
	        <th>Average Build time</th>
			<th>App Server</th>
			<th>Java Version</th>
	        <th>Env. Owner</th>
	        <th>Build Contact</th>
	        <th>Build-Type</th>
	        <th>Notes</th>
		</tr>
    </thead>
    <tr ng-repeat="x in myPLMData1|filter:{Application:application}:false|filter:{Environment:env}:true">
	    <td>{{x.Application}}</td>
	    <td>{{x.Environment}}</td>	
		<td>{{x['Used for Release']}}</td>		
		<td>{{x['Average Build time']}}</td>
		<td>{{x['App Server']}}</td>
		<td>{{x['Java Version']}}</td>
		<td>{{x['Env. Owner']}}</td>
		<td>{{x['Build Contact']}}</td>
		<td>{{x['Build-Type']}}</td>
		<td>{{x['Notes']}}</td>
    </tr>
</table>

<h4><label style="text-align: center; text-decoration: underline; color: blue;">Build History</label></h4>
  
<table id="table1" datatable="ng" class="table table-striped table-condensed" dt-options="dtOptions">
	<thead>
		<tr>
			<th>Build Number</th>
	        <th>Build Type</th>
	        <th>Date</th>
	        <th>Time</th>
	        <th>Release</th>
	        <th>Publish Type</th>
	        <th>Build Duration (In secs)</th>
            <th>Deployment Duration(In secs)</th>            
            <th>Job</th>	        
		</tr>
    </thead>

    <tbody>
    	<tr ng-repeat="x in historyData|filter:{Application:application}:false|filter:{Environment:env}:true|orderBy:sortDate : true">
      		<td>{{x['Build Number']}}</td>
			<td>{{x['Build Type']}}</td>
	        <td>{{x['Date']}}</td>
	        <td>{{x['Time']}}</td>
	        <td>{{x['Release']}}</td>
	        <td>{{x['Publish Type']}}</td>
            <td>{{x['Build Duration']}}</td>
            <td>{{x['Deployment Duration']}}</td>            
            <td><a  href="https://my.jenkins.com/jenkins/job/{{x['Job Name']}}/{{x['Build Number']}}">{{x['Job Name']}}({{x['Build Number']}})</a></td>
		</tr>
	</tbody>
</table>
    
<button class="btn btn-link" ng-click="exportToExcel('#table1')">
    <span class="glyphicon glyphicon-share"></span> Export to Excel
</button>

<script>
	$(document).ready( function () {
	    $('#table').DataTable( {
	        searchHighlight: true
	    } );
	} );
</script>

<style>
	td{
	padding-left: 10px
	}
</style>
